:root {
  --c-primary: #c0c0c0;
  --c-secondary: #808080;
  --c-numbers: #ff000;
  --borders: #fff var(--c-secondary) var(--c-secondary) #fff;
  --borders-reverse: var(--c-secondary) #fff #fff var(--c-secondary);
}
.Brick {
  display: flex;
  border: 1vmin solid;
  border-color: var(--borders);
  background: var(--c-primary);
  font-size: 4vmin;
  align-items: center;
  justify-content: center;
}

.Opened {
  border: 1px dotted var(--c-secondary);
}
