:root {
  --c-primary: #c0c0c0;
  --c-secondary: #808080;
  --c-numbers: #ff000;
  --borders: #fff var(--c-secondary) var(--c-secondary) #fff;
}
.Grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
}
